.root {
  width: 658px;
  height: 1125px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.blogPic {
  width: 658px;
  height: 708px;
}
.blogContent {
  width: 658px;
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.profile {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 605px;
}
.content {
  height: 290px;
  width: 605px;
}
.postFoot {
  height: 50px;
  width: 605px;
  display: flex;
  flex-direction: column;
}
.pic {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 100px;
}
.name {
  text-align: start;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.title {
  font-size: 20px;
}
.content {
  font-size: 14px;
  text-align: justify;
}
.divier {
  height: 2px;
  background-color: black;
  border: none;
  width: 605px;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.likeNum {
}
.left {
  display: flex;
  gap: 10px;
}
.right {
  display: flex;
}
